##############Tools development
erpmtics-agent.py
spect.sh


#############
## Python
#############

*.py

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini